.home_services {
  width: 941px;
  margin: 10px auto 0px auto;
  text-align: center;
}
.home_services .service {
  display: inline-table;
  margin: 0px 10px 35px 10px;
  font-size: 36px;
  line-height: 1.2em;
  font-family: 'monitoricaregular', Arial, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #393f39;
}
.home_services .thumb {
  display: block;
  position: relative;
  width: 208px;
  height: 208px;
  margin: 0px auto 5px auto;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 106px 106px 106px 106px;
  -moz-border-radius: 106px 106px 106px 106px;
  border-radius: 106px 106px 106px 106px;
}
.home_services .thumb img {
  display: block;
  width: inherit;
  height: inherit;
  -webkit-border-radius: 106px 106px 106px 106px;
  -moz-border-radius: 106px 106px 106px 106px;
  border-radius: 106px 106px 106px 106px;
}
.home_services .info {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.home_services .info .text {
  display: table-cell;
  width: 188px;
  height: 188px;
  padding: 10px;
  font-size: 20px;
  line-height: 1.4em;
  font-family: 'open_sansregular', Arial, sans-serif;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: url(../img/transparent_black.png) 0px 0px repeat;
  -webkit-border-radius: 106px 106px 106px 106px;
  -moz-border-radius: 106px 106px 106px 106px;
  border-radius: 106px 106px 106px 106px;
}
.home_services .service:hover .info {
  display: table;
}
.home_links {
  width: 100%;
  height: 94px;
  font-size: 22px;
  line-height: 1.2em;
  font-family: 'monitoricaregular', Thahoma, sans-serif;
  color: #ffffff;
  background: #C3C839 none;
}
.home_links ul {
  display: block;
  width: 941px;
  margin: 0px auto;
  padding: 0px;
}
.home_links li {
  list-style: none;
  display: block;
  float: left;
  height: 92px;
  margin: 0px;
  padding: 36px 21px 0px 21px;
  text-align: center;
  vertical-align: middle;
}
.home_links li:first-child {
  text-align: left;
  padding-left: 0px;
}
.home_links li:last-child {
  text-align: right;
  padding-right: 0px;
}
.home_links a {
  text-decoration: none;
  color: #ffffff;
}
.home_links a:hover {
  text-decoration: underline;
}
